/* @import './base.css'; */

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: pointer; */
}

::after,
::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  border: none;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul {
  /* width: 100%; */
  list-style: none;
}
li {
  /* width: 100%; */
}
